<div class="item">
        
        
    <div>avatar_url</div>

    <div>
        <input
            type="url"
            name="avatar"
            placeholder="http://"
            value="{{cliente.avatar}}"
        
        >

    </div>
    <div class="item">
        
        <div>Cliente</div>
        <div>

            <input 
                type="text"
                name="name"
                placeholder="Nome do cliente "
                value="{{cliente.name}}"
                 
            >
            
        </div>

    </div>

    

   

    <div class="item">

        <div>Valor</div>
        
        <div>
            <input 
                type="text" 
                name="valor" 
                placeholder="valor da divída"
                 value="{{ cliente.valor }}"
            
            >

        </div>

    </div>

    <button type="submit">Salvar</button>