<div class="item">
        
        

    <div class="item">
        
        <div>Instrutor</div>
        <div>

            <input 
                type="text"
                name="name"
                placeholder="Nome do cliente "
                 
            >
            
        </div>

    </div>

    

   

    <div class="item">

        <div>Valor</div>
        
        <div>
            <input 
                type="text" 
                name="valor" 
                placeholder="valor da divída"
                 value="{{ instructor.services }}"
            
            >

        </div>

    </div>

    <button type="submit">Salvar</button>