{% extends "layout.njk" %}

{% block content %}

    <div class="card table-container">
        <table width="100%">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>conta</th>
                </tr>
            </thead>
            <tbody>
                {% for instructors in cliente%}
                    <tr>
                        <td>
                            <span style="background-image: url({{instructors.avatar}})"></span>
                            {{instructors.name}}
                        </td>
                        <td> 
                          <span>{{instructors.valor}}</span>
                        </td>
                        <td> <a href="/cliente/{{instructors.id}}">Ver</td>

                    </tr>
                {%endfor%}
            </tbody>
        </table>
        
    </div>
{% endblock content %}